/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

/* CSS Styles Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Russo One', sans-serif;
    background-color: #151515;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Roboto', sans-serif;

}

a {
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    position: absolute;
    width: 100%;
}

header a {
    text-decoration: none;
}

#header-transition {
    animation: 1.5s ease 0s 1 normal forwards slidedown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slidedown {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0);
    }
}

#logo {
    margin-top: 20px;
    width: 70%;
}

#menu-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffffff;
    width: 100%;
}

#menu li {
    background-color: #151515da;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav-active:checked~nav {
    display: block;
}

#nav-active {
    display: none;
}

nav {
    position: absolute;
    background-color: transparent;
    display: none;
    top: 100%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    animation: scaleout 0.5s ease-in-out both;
    transform-origin: top center;
}

@keyframes scaleout {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

/* Main Content */
/* Hero Section */
#hero {
    background: linear-gradient(135deg, rgb(29, 67, 80, 0.6), rgba(164, 57, 49, 0.3)), url(../images/hero.jpg) no-repeat 89% 0% / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-text {
    color: #EEEEEE;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    font-weight: 100;
    padding: 20px;
    margin-top: 180px;
}

#hero-text hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#hero-text h2 {
    font-size: 2.5rem;
}

#hero-text h6 {
    line-height: 205%;
}

#arrow-down {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    color: #ffffff;
    animation: 2s ease-in-out 0s infinite normal both arrowbounce;
}

@keyframes arrowbounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Events Section */
#events {
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 2px;
}
#events-heading {
    padding: 20px;
}

#events h2 {
    padding-top: 20px;
}

#events hr {
    margin: 20px 20px;
}

#event1,
#event2,
#event3,
#event4 {
    padding: 20px 0;
    margin-top: 1px;
}

#event1 {
    background: linear-gradient(90deg, rgb(48, 43, 99, 0.4), rgb(36, 36, 62, 0.8), rgb(164, 57, 49, 0.3)), url(../images/event1.jpg) no-repeat bottom center / cover;

}

#event2 {
    background: linear-gradient(90deg, rgb(48, 43, 99, 0.4), rgb(36, 36, 62, 0.8), rgb(164, 57, 49, 0.3)), url(../images/event2.jpg) no-repeat center center / cover;
}

#event3 {
    background: linear-gradient(90deg, rgb(48, 43, 99, 0.4), rgb(36, 36, 62, 0.8), rgb(164, 57, 49, 0.3)), url(../images/event3.png) no-repeat bottom center / cover;
}

#event4 {
    background: linear-gradient(90deg, rgb(48, 43, 99, 0.4), rgb(36, 36, 62, 0.8), rgb(164, 57, 49, 0.3)), url(../images/event4.jpg) no-repeat center center / cover;
}

/* Reasons Section */
#about h2 {
    margin-top: 20px;
}

#reasons,
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #EEEEEE;
    letter-spacing: 2px;
    padding: 20px;
}

#reasons li {
    list-style-type: none;
}

#reasons hr,
#about hr {
    margin: 20px;
}

#reason-details,
#reasons2 p,
#reasons,
#about {
    letter-spacing: 1px;
    line-height: 125%;

}

#reasons2 {
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
}

#reasons2-heading {
    margin: 0px 20px 20px 20px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

#join-us {
    color: #EEEEEE;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, rgb(29, 67, 80, 0.6), rgba(164, 57, 49, 0.3));
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

#join-us h2 {
    text-align: center;
    letter-spacing: 2px;
}

.text-field {
    width: 100%;
    background-color: transparent;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    margin: 5px 0;
}

.checkbox-buttons {
    margin: 10px 0;
}

#suggestions-box {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: transparent;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    padding: 5px;
}

#form-button {
    display: flex;
    justify-content: center;
}

/* Contact Section */

#contact {
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 2px;
    margin: 20px 0 0 0;
}

#contact hr {
    margin: 0px 40px;
}

#contact-info, #address {
display: flex;
flex-direction: column;
}

/* Footer */

#copyright, #socials {
    display: flex;
    justify-content: space-between;
    color: #EEEEEE;
    padding: 0 20px 0 20px;

}

#disclaimer {
    text-align: center;
    color: #EEEEEE;
    font-size:x-small;
}

/* Media Queries */

/* Phones and Smaller (up to 768px) */
@media screen and (max-width: 768px) {

    #social {
        display: none;
    }

    #event1,
    #event2,
    #event3,
    #event4 {
        margin: 10px 10px 0 10px;
    }

}

/* Tablets and Larger (768px and up) */
@media screen and (min-width: 768px) {

    #header-transition {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        margin-top: 15px;
    }

    #logo {
        margin-left: 15px;
        margin-top: 0;
    }

    #menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 25px;
        white-space: nowrap;
        justify-content: center;
    }

    #menu li {
        background-color: transparent;
        font-size: 1rem;
    }
    
    .nav-active-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        margin-top: 0;
    }

    #social {
        display: flex;
        margin-right: 15px;
        gap: 10px;
        justify-content: flex-end;
    }

    #arrow-down {
        margin-bottom: 3%;
    }

    #events-heading hr,
    #reasons hr,
    #about hr {
        margin: 20px 150px;
    }

    #contact hr {
        margin: 0 150px;
    }

    #reason-details p,
    #events-heading p,
    #about p {
        padding: 0 120px;
    }

    #event1,
    #event2,
    #event3,
    #event4 {
        padding: 40px 0;
    }

    iframe {
        height: 300px;
    }

    #join-us {
        margin: 20px 150px;
        padding: 20px 60px;
    }
}

/* Laptops and Larger (992px and up) */
@media screen and (min-width: 992px) {

    #hero {
        background: linear-gradient(135deg, rgb(29, 67, 80, 0.6), rgba(164, 57, 49, 0.3)), url(../images/hero.jpg) no-repeat 50% 50% / cover;
    }

    #events {
        flex-wrap: wrap;
    }

    #event1, 
    #event2, 
    #event3, 
    #event4 {
        display: inline-block;
        width: 49%;
        margin-top: 5px;
    }

    #events-heading hr,
    #reasons hr,
    #contact hr,
    #about hr {
        margin: 20px 280px;
    }

    #hero-text hr {
        width: 50%;
    }

    #events-heading p {
        padding: 0 300px;
    }

    #reason-details p,
    #about p {
        padding: 0 200px;
    }

    iframe {
        margin: 20px 100px;
        height: 400px;
    }

    #join-us {
        margin: 20px 200px;
    }

    #contact {
        margin: 40px 0 0 0;
    }
}