/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

/* CSS Styles Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Russo One', sans-serif;
    background-color: #151515;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Roboto', sans-serif;
    
}

a {
    color: #ffffff;
}

/* Header */
header {
    position: absolute;
    width: 100%;
}

header a {
    text-decoration: none;
}

#header-transition {
    animation: 1.5s ease 0s 1 normal forwards slidedown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes slidedown {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0);
    }
}

#logo {
    margin-top: 20px;
    width: 85%;
}

#menu-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffffff;
    width: 100%;
}

#nav-active:checked~nav {
    display: block;
}

#nav-active {
    display: none;
}

nav {
    position: absolute;
    background-color: transparent;
    display: none;
    top: 100%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#menu {
    list-style-type: none;
    animation: scaleout 0.5s ease-in-out both;
    transform-origin: top center;
}

@keyframes scaleout {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

/* Main Content */

#hero {
    background: linear-gradient(135deg, rgb(29, 67, 80, 0.6), rgba(164, 57, 49, 0.3)), url(../images/hero.jpg) no-repeat 89% 0% / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-text {
    color: #EEEEEE;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    font-weight: 100;
    padding: 20px;
    margin-top: 60px;
}

#hero-text hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#hero-text h2 {
    font-size: 2.5rem;
}

#hero-text h6 {
    line-height: 205%;
}

#arrow-down {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    color: #ffffff;
    animation: 2s ease-in-out 0s infinite normal both arrowbounce;
}

@keyframes arrowbounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #EEEEEE;
    letter-spacing: 2px;
    padding: 20px;
}

#reasons li {
    list-style-type: none;
}

#reasons hr {
    margin: 20px;
}

#reason-details, #reasons2 p {
    letter-spacing: 1px;
    
}

#reasons2 {
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

#join-us {
    color: #EEEEEE;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, rgb(29, 67, 80, 0.6), rgba(164, 57, 49, 0.3));
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

#join-us h2 {
    text-align: center;
    letter-spacing: 2px;
}

.text-field {
  background-color: transparent;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin: 5px 0;
}

.checkbox-buttons {
    margin: 10px 0;
}

#suggestions-box {
    margin-top: 4px;
    margin-bottom: 10px;
}

.submit-button {
    background-color: transparent;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 5px;
}